@model FootballApp.Models.Club

@{
    ViewData["Title"] = "Details";
}
<div class="mx-5">
    <h1>Club Details</h1>

    <div>
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HomeCountry)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HomeCountry)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Stadium)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Stadium)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FoundedYear)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FoundedYear)
            </dd>
        </dl>
    </div>
    <div>
        <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a type="button" class="btn btn-light" asp-action="Index">Back to List</a>
    </div>
    </div>